<section data-ng-controller="TailsController">
	<div class="page-header">
		<h1>Tail File Management</h1>
	</div>
	
	<div class="row">
<!-- 		<div class="col-xs-2" data-ng-init="findServerList()">
			<h4>Server List</h4>
			<div class="list-group">
				<a data-ng-repeat="server in servers" data-ng-click="findDirectoryList(server.id)" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="server.name"></h4>
				</a>
			</div>
		</div> -->

		<div class="col-xs-2" data-ng-init="findServerList()">
			<h4>Server List</h4>
			<select class="form-control" 
					ng-model="server" 
					ng-options="server.name for server in servers"
					ng-change="findDirectoryList(server.id)">
				<option value=''>[select]</option>
		    </select>
		</div>

		
		<div class="col-xs-3">
			<h4>Directory List</h4>
			<div class="list-group">
				<a data-ng-repeat="tail in tails" data-ng-click="findDirectoryList(tail.server, tail.path)" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="tail.name"></h4>
				</a>
			</div>
		</div>
		
		<div class="col-xs-7">
			<div class="form-group">
				<div>
				<form class="form-horizontal" data-ng-submit="execute()" novalidate>
					<fieldset>
						<div class="form-group">
							<div class="controls">
								<input type="text" data-ng-model="grepString" id="grepString" class="form-control" placeholder="Grep String 입력" required>
							</div>
						</div>
					</fieldset>
				</form>
					<button id="tailstop" class='btn btn-default' ng-click="tailStop()">STOP</button>
					<button id="tailCopy" class='btn btn-default' ng-click="tailCopy()">LOG 복사</button>
					<button id="tailClear" class='btn btn-default' ng-click="tailClear()">CLEAR</button>
				</div>
				<div class="controls">

					<div data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" style="overflow:scroll; height:500px; "></div>
				</div>
			</div>
		</div>
		
	</div>
</section>
