<section data-ng-controller="TailsController">
	<div class="page-header">
		<h1>Log Viewer</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="execute()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="Command 입력">Command</label>
					<div class="controls">
						<input type="text" data-ng-model="command" id="command" class="form-control" placeholder="Command 입력" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		<textarea rows="30" cols="120" readonly='readonly'>
			GET /modules/tails/controllers/tails.client.controller.js 304 3.002 ms - -
			GET /modules/tails/services/tails.client.service.js 304 4.628 ms - -
			GET /modules/users/config/users.client.config.js 304 12.869 ms - -
			GET /modules/users/config/users.client.routes.js 304 2.708 ms - -
			GET /modules/users/controllers/authentication.client.controller.js 304 2.580 ms - -
			GET /modules/users/services/users.client.service.js 304 14.161 ms - -
			GET /modules/users/controllers/settings.client.controller.js 304 22.500 ms - -
			GET /modules/users/services/authentication.client.service.js 304 23.572 ms - -
			GET /modules/core/views/header.client.view.html 304 5.172 ms - -
			GET /modules/tails/views/logmain-tail.client.view.html 200 13.429 ms - 775
			>> File "public/modules/tails/views/logmain-tail.client.view.html" changed.
			Completed in 0.000s at Sun Aug 10 2014 03:57:17 GMT-0700 (PDT) - Waiting...
			GET /modules/core/controllers/header.client.controller.js 304 43.888 ms - -
			GET /modules/core/services/menus.client.service.js 304 31.907 ms - -
			GET /modules/directorys/config/directory.client.config.js 304 30.786 ms - -
			GET /modules/directorys/config/directory.client.routes.js 304 40.771 ms - -
			GET /modules/directorys/controllers/directory.client.controller.js 304 28.347 ms - -
			GET /modules/directorys/services/directory.client.service.js 304 14.962 ms - -
			GET /modules/directorys/services/servers.client.service.js 304 19.044 ms - -
			GET /modules/tails/config/tails.client.config.js 304 12.439 ms - -
			GET /modules/tails/config/tails.client.routes.js 304 9.014 ms - -
			GET /modules/tails/controllers/tails.client.controller.js 304 21.313 ms - -
			GET /modules/tails/services/tails.client.service.js 304 50.049 ms - -
			GET /modules/users/config/users.client.config.js 304 57.528 ms - -
			GET /modules/users/controllers/authentication.client.controller.js 304 48.695 ms - -
			GET /modules/users/config/users.client.routes.js 304 67.876 ms - -
			GET /modules/users/services/authentication.client.service.js 304 39.412 ms - -
			GET /modules/users/controllers/settings.client.controller.js 304 54.567 ms - -
			GET /modules/users/services/users.client.service.js 304 12.354 ms - -
			GET /modules/core/views/header.client.view.html 304 41.864 ms - -
			GET /modules/tails/views/logmain-tail.client.view.html 200 26.552 ms - -
		</textarea>
	</div>
</section>