<section data-ng-controller="FileController" data-ng-init="find()">
	<div class="page-header">
		<h1>File Management</h1>
	</div>
	
	<div class="row">
		<div class="col-xs-5">
		<h4>Directory View</h4>
			<div class="list-group">
				<a data-ng-repeat="file in files" data-ng-click="find(file.path, file.name, file.parent)" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="file.name"></h4>
				</a>
			</div>
		</div>
		
		<div class="col-xs-1"></div>

		<div class="col-xs-4">
			<h4>Directory Info</h4>
			<div class="col-md-12">
				<form class="form-horizontal" data-ng-submit="create()" novalidate>
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="path">Path</label>
							<div class="controls">
								<input type="text" data-ng-model="path" id="path" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="minute">Minute</label>
							<div class="controls">
								<input type="text" data-ng-model="minute" id="minute" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="hour">Hour</label>
							<div class="controls">
								<input type="text" data-ng-model="hour" id="hour" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="day">Day</label>
							<div class="controls">
								<input type="text" data-ng-model="day" id="day" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="month">Month</label>
							<div class="controls">
								<input type="text" data-ng-model="month" id="month" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="week">Week</label>
							<div class="controls">
								<input type="text" data-ng-model="week" id="week" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="command">Command</label>
							<div class="controls">
								<input type="text" data-ng-model="command" id="command" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-default">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
